body {
    background-color: LightSkyBlue;
    font-family: "Arial"
}
 
 .hidden {
     display: none
 }
 
 .first-view {
     margin: 5px;
     background-color: LightSkyblue;
     text-align: center;
     margin: 0 auto;
     font-family: 'Courier New', Courier, monospace;

     position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

.question-form {
    margin: 20px;
    background-color: teal;
    text-align: center;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;

    position: fixed;
    top: 80%;
    left: 47%;
    margin-top: -100px;
    margin-left: -200px;
    

}
button {
    background-color: powderblue;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
}

input {
    font-family: 'Courier New', Courier, monospace;
}

.red {
    color: red;
}

.green {
    color: green;
}

.current-game {
    background-color: lightskyblue;
    margin: 10px;
    position: absolute;
    top: 100px;
    right: 50px;
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.users-games {
    background-color: rgb(247, 70, 51);
    margin: 20px;
    position: absolute;
    top: 100px;

    left: 50px;
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
}




